[submodule "assets/libs/history.js"]
	path = assets/libs/history.js
	url = git://github.com/balupton/history.js.git
[submodule "libs/Twig"]
	path = libs/Twig
	url = git://github.com/fabpot/Twig.git
[submodule "assets/libs/html5shiv"]
	path = assets/libs/html5shiv
	url = git://github.com/aFarkas/html5shiv.git
